@charset "UTF-8";

/*设置默认编码集*/


/*css 初始化 start */

html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
    margin: 0;
    padding: 0;
}


/*各浏览器显示不同，去掉边框等默认样式*/

fieldset,
img,

button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul,
ol {
    list-style: none;
}

/*input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}*/

/*select,
textarea {
    font-size: 12px;
    margin: 0;
}*/


/*防止拖动 影响布局*/

/*input,
textarea {
    border: none;
    outline: none;
    resize: none;
    -webkit-appearance: none;
}*/


/*去掉行内替换元素空白缝隙*/

img {
    border: 0;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

body {
    font: 13px/150% Arial, Verdana, "\5b8b\4f53";
    /*color: #666;*/
    color: #434343;
    background: #fff;
}
body,html{
    margin: 0px;
}
* {
  padding: 0;
  margin: 0;
}

/*清除浮动*/

.clearfix::after,
.clearfix::before {
    content: ".";
    line-height: 0;
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
    /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

body,html{
    width: 100%;
    height: 100%;
}
/*废物利用*/

s,
i,
em {
    font-style: normal;
    text-decoration: none;
}

.fuwuhao {
    min-width: 300px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    /*padding: 10px;*/
}

header {
    background: #dfa60e;
    height: 45px;
    width: 100%;
}

header p {
    width: 100%;
    text-align: center;
    display: block;
    line-height: 45px;
    font-weight: bolder;
    font-size: 20px;
    color: white;
}

header .icon_back {
    background: url(../img/sprites.png) no-repeat;
    background-size: 200px 200px;
    left: 0;
    background-position: -20px 0;
    width: 20px;
    height: 25px;
    position: absolute;
    padding-left: 12px;
    padding-top: 10px;
    top: 0;
    background-origin: content-box;
    background-clip: content-box;
}

.form-add {
    /*display: none;*/
}

.form-add #tip {
    width: 50%;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    border: 1px solid #D9D9D9;
    position: relative;
    text-align: center;
    border-radius: 10px;
}

#tip #x {
    border: 1px solid #D9D9D9;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    float: right;
    font-size: 20px;
    line-height: 20px;
    color: #D6D6D6;
    position: absolute;
    background: white !important;
    top: -10px;
    right: -10px;
}

#mask {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.15;
    display: none;
}