h4{
    font-size: 20px;
    font-weight: bolder;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
h6{
    font-size: 15px;
    font-weight: bolder;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.fuwuhao{
    position: relative;
    text-align: center;
}
.div{
    
    width: 50%;
    height: 50%;
    margin: 0 auto;
}
textarea{
    width: 100%;
    height: 100%;
    /*line-height: 50%;*/
    /*display: block;*/
    /*position: absolute;*/
    /*margin: 0 auto;*/
}
button{
      height: 40px;
    line-height: 40px;
    width: 100px;
    bottom: 0;
    right: 0;
    background: #dfa60e;
    font-size: 16px;
    font-weight: bolder;
    color: white;
    display: block;
    margin: 0 auto;
    /*position: absolute;*/
    border-radius: 5px;
    margin-top: 20px;
}